/* @charset "utf-8" */
.el-message {
  top: 20px !important
}

.el-dialog__title {
  padding-right: 16px;
  display: inline-block;
}

.el-drawer__header {
  margin-bottom: 0;
  background-color: #f2f2f2;
}
.el-drawer__body{
  padding:10px 15px;
}
.el-drawer__header{
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.main-content {
  height: calc(100vh - 80px);
}


.d-required::after {
  content: '*';
  color: red;
  display: inline-block;
  margin-left: 5px;
}

.hide-children>* {
  display: none;
}
/* 抽屉弹出框样式修改 */
.drawer-header{
  position: absolute;
  top: 21px;
  right: 46px;
}
