/* @charset "utf-8" */
.el-message {
  top: 20px !important
}

.el-dialog__title {
  padding-right: 16px;
  display: inline-block;
}
/* 优化抽屉样式 */
.el-drawer__header {
  padding: 15px 15px 10px;
  margin-bottom: 0;
  background-color: #f2f2f2;
}
.el-drawer__body{
  padding:10px 15px;
}
.el-drawer__header{
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.main-content {
  height: calc(100vh - 80px);
}


.d-required::after {
  content: '*';
  color: red;
  display: inline-block;
  margin-left: 5px;
}

.hide-children>* {
  display: none;
}
/* 抽屉弹出框样式修改 */
.drawer-header{
  position: absolute;
  top: 15px;
  right: 46px;
}

.el-table__empty-block{
  width: 100% !important;
}

//  el-row flex 样式
.is-justify-space-between {
  flex-wrap: wrap;
}

.el-table__fixed{
  pointer-events: none;
  .el-table__fixed-header-wrapper,
  .el-table__fixed-body-wrapper{
    pointer-events: all;
  }
}